# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template
#secrets
*secrets.*
*.pyc

#virtual env
env

#db
db.sqlite3


# IntelliJ project files
.idea
*.iml
out
gen
